<!DOCTYPE html>
<html>
    <head>
        <title>hGrid+git Example</title>
        <link href='/static/css/slick.grid.css' rel='stylesheet'>
        <link href='/static/css/jquery-ui-1.8.16.custom.css' rel='stylesheet'>
        <link href='/static/css/file-viewer-core.css' rel='stylesheet'>
        <script src='/static/js/jquery-1.10.2.min.js'></script>
        <script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="/static/js/jquery.event.drag-2.2.js"></script>
        <script src="/static/js/jquery.event.drop-2.2.js"></script>
        <script src="/static/js/hgrid-dependencies.js"></script>
        <script src="/static/js/hgrid.js"></script>
        <script src='/static/js/example-grid.js'></script>
    </head>
    <body>
        <button id='clickable'>Add file</button>
        <div id='exampleGrid' class='dropzone files-page'></div
    </body>

</html>